*{margin: 0% ; padding: 0%;}

.cabecalho {background-color: #202020;color: white; display: flex; justify-content: space-around ; align-self: center; padding: 10px;}

.cabecalho-icon {width: 200px; height: 100px;}

.cabecalho-lista-item {display: inline-block; margin: 30px 30px; font-size: medium; }